<%= @post.title %>
  
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
  
  <%= @post.content %>
  <ul>
  <% @post.comments.each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>
  </ul>
  
  <%= form_for @comment do |f| %>
  <%= f.text_field :category_name, list: "categories_autocomplete" %>
  <datalist id="categories_autocomplete">
    <% Category.all.each do |category| %>
      <option value="<%= category.name %>">
    <% end %>
  </datalist>
  <textarea name="post[content]"></textarea>
  <%= f.submit %>
<% end %>
  
  <ul>
    <% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
  </ul>