<%= @post.title %>
  
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
  
  <%= @post.content %>
  <ul>
  <% @post.comments.each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>
  </ul>
  
  <ul>
    <% @post.users.uniq.each do |user| %>
  <li><%= user.username %></li>
  <% end %>
  </ul>